#element-id {
    display: grid;
}

.a,
.b,
.c,
#d {
    display: none;
}

#foo {
    display: none;

    /* This will trigger a stylelint error which should be specifically disabled: */
    made-up: bogus; /* stylelint-disable-line property-no-unknown */
}
