repos:
    - repo: https://github.com/pre-commit/mirrors-isort
      rev: v4.3.17
      hooks:
          - id: isort
    - repo: https://github.com/ambv/black
      rev: 19.3b0
      hooks:
          - id: black
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.1.0
      hooks:
          - id: check-byte-order-marker
          - id: trailing-whitespace
          - id: mixed-line-ending
            args: ["--fix=lf"]
          - id: check-merge-conflict
          - id: flake8
          - id: check-json
          - id: check-yaml
          - id: detect-aws-credentials
            args: ['--allow-missing-credentials']
          - id: detect-private-key
          - id: pretty-format-json
            args: ["--autofix", "--no-sort-keys", "--indent=4"]
          - id: check-ast
          - id: debug-statements
    - repo: https://github.com/prettier/prettier
      rev: 1.16.4
      hooks:
          - id: prettier
            files: \.(css|less|scss|ts|tsx|graphql|gql|json|js|jsx|md)$
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v5.16.0
      hooks:
          - id: eslint
            additional_dependencies:
                - eslint@5.16.0
                - eslint-plugin-prettier@3.0.1
                - prettier@1.16.4
    - repo: https://github.com/awebdeveloper/pre-commit-stylelint
      rev: 0.0.2
      hooks:
          - id: stylelint
            additional_dependencies:
                - stylelint@9.10.1
                - stylelint-config-prettier@5.0.0
                - stylelint-config-recommended@2.1.0
