exclude: ".*/vendor/.*"
repos:
    - repo: https://github.com/pre-commit/mirrors-isort
      rev: v5.8.0
      hooks:
          - id: isort
    - repo: https://github.com/ambv/black
      rev: 20.8b1
      hooks:
          - id: black
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.4.0
      hooks:
          - id: check-added-large-files
            args: ["--maxkb=128"]
          - id: check-ast
          - id: check-byte-order-marker
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-json
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-xml
          - id: check-yaml
          - id: debug-statements
          - id: detect-aws-credentials
            args: ["--allow-missing-credentials"]
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: ["--fix=lf"]
          - id: pretty-format-json
            args: ["--autofix", "--no-sort-keys", "--indent=4"]
          - id: trailing-whitespace
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.2.1
      hooks:
          - id: prettier
            files: \.(css|less|scss|ts|tsx|graphql|gql|js|jsx|md|yml|yaml)$
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v7.24.0
      hooks:
          - id: eslint
            additional_dependencies:
                - eslint@7.24.0
                - "eslint-config-prettier@8.2.0"
                - prettier@2.2.1
    - repo: https://github.com/awebdeveloper/pre-commit-stylelint
      rev: 0.0.2
      hooks:
          - id: stylelint
            additional_dependencies:
                - prettier@2.2.1
                - stylelint@13.12.0
                - stylelint-config-recommended@4.0.0
                - stylelint-config-prettier@8.0.2
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.9.1
      hooks:
          - id: flake8
            args: [--config=python/setup.cfg]
            additional_dependencies:
                - flake8-assertive
                - flake8-builtins
                - flake8-comprehensions
                - flake8-logging-format
                - flake8-eradicate
                - flake8-bugbear
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.1.0
      hooks:
          - id: detect-secrets
            args: ["--baseline", ".secrets.baseline"]
            exclude: ".*/Pipfile.*"
    - repo: https://github.com/gruntwork-io/pre-commit
      rev: v0.1.12
      hooks:
          - id: shellcheck
