[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
flake8-assertive = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-logging-format = "*"
flake8-bugbear = "*"
flake8-eradicate = "*"

[packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
